<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>DestroyFlappyArtPack/Airspeed_indicator.png</key>
		<dict>
			<key>frame</key>
			<string>{{131, 1765}, {237, 237}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1, 1}, {237, 237}}</string>
			<key>sourceSize</key>
			<string>{240, 241}</string>
		</dict>
		<key>DestroyFlappyArtPack/airspeed_indicator_needle.png</key>
		<dict>
			<key>frame</key>
			<string>{{714, 441}, {104, 86}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {104, 86}}</string>
			<key>sourceSize</key>
			<string>{104, 86}</string>
		</dict>
		<key>DestroyFlappyArtPack/background.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1}, {640, 1005}}</string>
			<key>offset</key>
			<string>{0, 22}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {640, 1005}}</string>
			<key>sourceSize</key>
			<string>{640, 1050}</string>
		</dict>
		<key>DestroyFlappyArtPack/bonus.png</key>
		<dict>
			<key>frame</key>
			<string>{{370, 1891}, {112, 107}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1, 0}, {112, 107}}</string>
			<key>sourceSize</key>
			<string>{115, 107}</string>
		</dict>
		<key>DestroyFlappyArtPack/bullet.png</key>
		<dict>
			<key>frame</key>
			<string>{{237, 2004}, {26, 13}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {26, 13}}</string>
			<key>sourceSize</key>
			<string>{26, 13}</string>
		</dict>
		<key>DestroyFlappyArtPack/bush.png</key>
		<dict>
			<key>frame</key>
			<string>{{643, 1}, {640, 69}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {640, 69}}</string>
			<key>sourceSize</key>
			<string>{640, 69}</string>
		</dict>
		<key>DestroyFlappyArtPack/clouds.png</key>
		<dict>
			<key>frame</key>
			<string>{{207, 1008}, {748, 131}}</string>
			<key>offset</key>
			<string>{0, -3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 29}, {748, 131}}</string>
			<key>sourceSize</key>
			<string>{748, 183}</string>
		</dict>
		<key>DestroyFlappyArtPack/crate.png</key>
		<dict>
			<key>frame</key>
			<string>{{370, 1761}, {128, 129}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {128, 129}}</string>
			<key>sourceSize</key>
			<string>{128, 129}</string>
		</dict>
		<key>DestroyFlappyArtPack/fly1.png</key>
		<dict>
			<key>frame</key>
			<string>{{549, 1706}, {328, 228}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {328, 228}}</string>
			<key>sourceSize</key>
			<string>{328, 229}</string>
		</dict>
		<key>DestroyFlappyArtPack/fly2.png</key>
		<dict>
			<key>frame</key>
			<string>{{643, 643}, {324, 220}}</string>
			<key>offset</key>
			<string>{2, 4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{4, 0}, {324, 220}}</string>
			<key>sourceSize</key>
			<string>{328, 229}</string>
		</dict>
		<key>DestroyFlappyArtPack/gameover.png</key>
		<dict>
			<key>frame</key>
			<string>{{714, 1}, {438, 321}}</string>
			<key>offset</key>
			<string>{-1, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{5, 8}, {438, 321}}</string>
			<key>sourceSize</key>
			<string>{450, 337}</string>
		</dict>
		<key>DestroyFlappyArtPack/ground.png</key>
		<dict>
			<key>frame</key>
			<string>{{340, 1008}, {696, 310}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {696, 310}}</string>
			<key>sourceSize</key>
			<string>{696, 310}</string>
		</dict>
		<key>DestroyFlappyArtPack/jet.png</key>
		<dict>
			<key>frame</key>
			<string>{{340, 1706}, {207, 53}}</string>
			<key>offset</key>
			<string>{1, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9, 9}, {207, 53}}</string>
			<key>sourceSize</key>
			<string>{223, 71}</string>
		</dict>
		<key>DestroyFlappyArtPack/jet2.png</key>
		<dict>
			<key>frame</key>
			<string>{{714, 547}, {206, 53}}</string>
			<key>offset</key>
			<string>{2, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{10, 9}, {206, 53}}</string>
			<key>sourceSize</key>
			<string>{223, 71}</string>
		</dict>
		<key>DestroyFlappyArtPack/metal_crate.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1779}, {128, 258}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {128, 258}}</string>
			<key>sourceSize</key>
			<string>{128, 258}</string>
		</dict>
		<key>DestroyFlappyArtPack/missile.png</key>
		<dict>
			<key>frame</key>
			<string>{{131, 2004}, {104, 34}}</string>
			<key>offset</key>
			<string>{1, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2, 0}, {104, 34}}</string>
			<key>sourceSize</key>
			<string>{106, 34}</string>
		</dict>
		<key>DestroyFlappyArtPack/pipe_bottom.png</key>
		<dict>
			<key>frame</key>
			<string>{{104, 1008}, {101, 755}}</string>
			<key>offset</key>
			<string>{0, 7}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2, 1}, {101, 755}}</string>
			<key>sourceSize</key>
			<string>{106, 772}</string>
		</dict>
		<key>DestroyFlappyArtPack/pipe_top.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1008}, {101, 769}}</string>
			<key>offset</key>
			<string>{0, 1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3, 0}, {101, 769}}</string>
			<key>sourceSize</key>
			<string>{106, 772}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{2048, 2048}</string>
		<key>textureFileName</key>
		<string>DestroyFlappyArtPack.png</string>
	</dict>
</dict>
</plist>
