<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>DestroyFlappyArtPack/Airspeed_indicator.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1779}, {237, 237}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1, 1}, {237, 237}}</string>
			<key>sourceSize</key>
			<string>{240, 241}</string>
		</dict>
		<key>DestroyFlappyArtPack/Touch Gesture.png</key>
		<dict>
			<key>frame</key>
			<string>{{652, 1}, {178, 315}}</string>
			<key>offset</key>
			<string>{-4, -13}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 31}, {178, 315}}</string>
			<key>sourceSize</key>
			<string>{186, 350}</string>
		</dict>
		<key>DestroyFlappyArtPack/airspeed_indicator_needle.png</key>
		<dict>
			<key>frame</key>
			<string>{{766, 1928}, {104, 86}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {104, 86}}</string>
			<key>sourceSize</key>
			<string>{104, 86}</string>
		</dict>
		<key>DestroyFlappyArtPack/background.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1}, {640, 1005}}</string>
			<key>offset</key>
			<string>{0, 22}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {640, 1005}}</string>
			<key>sourceSize</key>
			<string>{640, 1050}</string>
		</dict>
		<key>DestroyFlappyArtPack/bonus.png</key>
		<dict>
			<key>frame</key>
			<string>{{657, 1928}, {112, 107}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1, 0}, {112, 107}}</string>
			<key>sourceSize</key>
			<string>{115, 107}</string>
		</dict>
		<key>DestroyFlappyArtPack/bullet.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 2018}, {26, 13}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {26, 13}}</string>
			<key>sourceSize</key>
			<string>{26, 13}</string>
		</dict>
		<key>DestroyFlappyArtPack/bush.png</key>
		<dict>
			<key>frame</key>
			<string>{{1050, 1}, {640, 69}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {640, 69}}</string>
			<key>sourceSize</key>
			<string>{640, 69}</string>
		</dict>
		<key>DestroyFlappyArtPack/clouds.png</key>
		<dict>
			<key>frame</key>
			<string>{{207, 1008}, {748, 131}}</string>
			<key>offset</key>
			<string>{0, -3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 29}, {748, 131}}</string>
			<key>sourceSize</key>
			<string>{748, 183}</string>
		</dict>
		<key>DestroyFlappyArtPack/crate.png</key>
		<dict>
			<key>frame</key>
			<string>{{643, 318}, {128, 129}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {128, 129}}</string>
			<key>sourceSize</key>
			<string>{128, 129}</string>
		</dict>
		<key>DestroyFlappyArtPack/fly1.png</key>
		<dict>
			<key>frame</key>
			<string>{{240, 1758}, {328, 228}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {328, 228}}</string>
			<key>sourceSize</key>
			<string>{328, 229}</string>
		</dict>
		<key>DestroyFlappyArtPack/fly2.png</key>
		<dict>
			<key>frame</key>
			<string>{{570, 1706}, {324, 220}}</string>
			<key>offset</key>
			<string>{2, 4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4, 0}, {324, 220}}</string>
			<key>sourceSize</key>
			<string>{328, 229}</string>
		</dict>
		<key>DestroyFlappyArtPack/gameover.png</key>
		<dict>
			<key>frame</key>
			<string>{{1692, 1}, {466, 351}}</string>
			<key>offset</key>
			<string>{-1, 1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{13, 8}, {466, 351}}</string>
			<key>sourceSize</key>
			<string>{495, 370}</string>
		</dict>
		<key>DestroyFlappyArtPack/ground.png</key>
		<dict>
			<key>frame</key>
			<string>{{340, 1008}, {696, 310}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {696, 310}}</string>
			<key>sourceSize</key>
			<string>{696, 310}</string>
		</dict>
		<key>DestroyFlappyArtPack/jet.png</key>
		<dict>
			<key>frame</key>
			<string>{{240, 1988}, {207, 53}}</string>
			<key>offset</key>
			<string>{1, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9, 9}, {207, 53}}</string>
			<key>sourceSize</key>
			<string>{223, 71}</string>
		</dict>
		<key>DestroyFlappyArtPack/jet2.png</key>
		<dict>
			<key>frame</key>
			<string>{{449, 1988}, {206, 53}}</string>
			<key>offset</key>
			<string>{2, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{10, 9}, {206, 53}}</string>
			<key>sourceSize</key>
			<string>{223, 71}</string>
		</dict>
		<key>DestroyFlappyArtPack/metal_crate.png</key>
		<dict>
			<key>frame</key>
			<string>{{773, 318}, {128, 129}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {128, 129}}</string>
			<key>sourceSize</key>
			<string>{128, 129}</string>
		</dict>
		<key>DestroyFlappyArtPack/missile.png</key>
		<dict>
			<key>frame</key>
			<string>{{340, 1706}, {104, 34}}</string>
			<key>offset</key>
			<string>{1, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2, 0}, {104, 34}}</string>
			<key>sourceSize</key>
			<string>{106, 34}</string>
		</dict>
		<key>DestroyFlappyArtPack/pipe_bottom.png</key>
		<dict>
			<key>frame</key>
			<string>{{104, 1008}, {101, 755}}</string>
			<key>offset</key>
			<string>{0, 7}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2, 1}, {101, 755}}</string>
			<key>sourceSize</key>
			<string>{106, 772}</string>
		</dict>
		<key>DestroyFlappyArtPack/pipe_top.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1008}, {101, 769}}</string>
			<key>offset</key>
			<string>{0, 1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3, 0}, {101, 769}}</string>
			<key>sourceSize</key>
			<string>{106, 772}</string>
		</dict>
		<key>DestroyFlappyArtPack/playbutton.png</key>
		<dict>
			<key>frame</key>
			<string>{{896, 1}, {290, 142}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{5, 4}, {290, 142}}</string>
			<key>sourceSize</key>
			<string>{300, 150}</string>
		</dict>
		<key>DestroyFlappyArtPack/playbutton200x100.png</key>
		<dict>
			<key>frame</key>
			<string>{{854, 1928}, {194, 96}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3, 2}, {194, 96}}</string>
			<key>sourceSize</key>
			<string>{200, 100}</string>
		</dict>
		<key>DestroyFlappyArtPack/swipe right.png</key>
		<dict>
			<key>frame</key>
			<string>{{643, 469}, {328, 338}}</string>
			<key>offset</key>
			<string>{4, -4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{15, 10}, {328, 338}}</string>
			<key>sourceSize</key>
			<string>{350, 350}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{2048, 2048}</string>
		<key>textureFileName</key>
		<string>DestroyFlappyArtPack.png</string>
	</dict>
</dict>
</plist>
