<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>DestroyFlappyArtPack/Airspeed_indicator.png</key>
		<dict>
			<key>frame</key>
			<string>{{111, 1810}, {237, 237}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1, 1}, {237, 237}}</string>
			<key>sourceSize</key>
			<string>{240, 241}</string>
		</dict>
		<key>DestroyFlappyArtPack/Touch Gesture.png</key>
		<dict>
			<key>frame</key>
			<string>{{724, 1048}, {178, 332}}</string>
			<key>offset</key>
			<string>{-4, -5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 14}, {178, 332}}</string>
			<key>sourceSize</key>
			<string>{186, 350}</string>
		</dict>
		<key>DestroyFlappyArtPack/airspeed_indicator_needle.png</key>
		<dict>
			<key>frame</key>
			<string>{{1127, 339}, {104, 86}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {104, 86}}</string>
			<key>sourceSize</key>
			<string>{104, 86}</string>
		</dict>
		<key>DestroyFlappyArtPack/background.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1}, {640, 1050}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {640, 1050}}</string>
			<key>sourceSize</key>
			<string>{640, 1050}</string>
		</dict>
		<key>DestroyFlappyArtPack/bonus.png</key>
		<dict>
			<key>frame</key>
			<string>{{519, 1626}, {112, 107}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1, 0}, {112, 107}}</string>
			<key>sourceSize</key>
			<string>{115, 107}</string>
		</dict>
		<key>DestroyFlappyArtPack/bullet.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 2033}, {26, 13}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {26, 13}}</string>
			<key>sourceSize</key>
			<string>{26, 13}</string>
		</dict>
		<key>DestroyFlappyArtPack/bush.png</key>
		<dict>
			<key>frame</key>
			<string>{{519, 1053}, {571, 69}}</string>
			<key>offset</key>
			<string>{-30, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{4, 0}, {571, 69}}</string>
			<key>sourceSize</key>
			<string>{640, 69}</string>
		</dict>
		<key>DestroyFlappyArtPack/clouds.png</key>
		<dict>
			<key>frame</key>
			<string>{{590, 1053}, {535, 132}}</string>
			<key>offset</key>
			<string>{-50, 3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{56, 22}, {535, 132}}</string>
			<key>sourceSize</key>
			<string>{748, 183}</string>
		</dict>
		<key>DestroyFlappyArtPack/crate.png</key>
		<dict>
			<key>frame</key>
			<string>{{628, 1590}, {128, 129}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {128, 129}}</string>
			<key>sourceSize</key>
			<string>{128, 129}</string>
		</dict>
		<key>DestroyFlappyArtPack/fly1.png</key>
		<dict>
			<key>frame</key>
			<string>{{643, 469}, {339, 236}}</string>
			<key>offset</key>
			<string>{0, 1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1, 1}, {339, 236}}</string>
			<key>sourceSize</key>
			<string>{340, 241}</string>
		</dict>
		<key>DestroyFlappyArtPack/fly2.png</key>
		<dict>
			<key>frame</key>
			<string>{{643, 810}, {334, 236}}</string>
			<key>offset</key>
			<string>{2, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5, 2}, {334, 236}}</string>
			<key>sourceSize</key>
			<string>{340, 241}</string>
		</dict>
		<key>DestroyFlappyArtPack/gameover.png</key>
		<dict>
			<key>frame</key>
			<string>{{643, 1}, {466, 351}}</string>
			<key>offset</key>
			<string>{-1, 1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{13, 8}, {466, 351}}</string>
			<key>sourceSize</key>
			<string>{495, 370}</string>
		</dict>
		<key>DestroyFlappyArtPack/ground.png</key>
		<dict>
			<key>frame</key>
			<string>{{207, 1053}, {696, 310}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {696, 310}}</string>
			<key>sourceSize</key>
			<string>{696, 310}</string>
		</dict>
		<key>DestroyFlappyArtPack/jet.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1824}, {207, 53}}</string>
			<key>offset</key>
			<string>{1, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{9, 9}, {207, 53}}</string>
			<key>sourceSize</key>
			<string>{223, 71}</string>
		</dict>
		<key>DestroyFlappyArtPack/jet2.png</key>
		<dict>
			<key>frame</key>
			<string>{{56, 1824}, {206, 53}}</string>
			<key>offset</key>
			<string>{2, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{10, 9}, {206, 53}}</string>
			<key>sourceSize</key>
			<string>{223, 71}</string>
		</dict>
		<key>DestroyFlappyArtPack/metal_crate.png</key>
		<dict>
			<key>frame</key>
			<string>{{996, 339}, {128, 129}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {128, 129}}</string>
			<key>sourceSize</key>
			<string>{128, 129}</string>
		</dict>
		<key>DestroyFlappyArtPack/missile.png</key>
		<dict>
			<key>frame</key>
			<string>{{207, 1751}, {104, 34}}</string>
			<key>offset</key>
			<string>{1, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2, 0}, {104, 34}}</string>
			<key>sourceSize</key>
			<string>{106, 34}</string>
		</dict>
		<key>DestroyFlappyArtPack/pipe_bottom.png</key>
		<dict>
			<key>frame</key>
			<string>{{104, 1053}, {101, 755}}</string>
			<key>offset</key>
			<string>{0, 7}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2, 1}, {101, 755}}</string>
			<key>sourceSize</key>
			<string>{106, 772}</string>
		</dict>
		<key>DestroyFlappyArtPack/pipe_top.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1053}, {101, 769}}</string>
			<key>offset</key>
			<string>{0, 1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3, 0}, {101, 769}}</string>
			<key>sourceSize</key>
			<string>{106, 772}</string>
		</dict>
		<key>DestroyFlappyArtPack/playbutton.png</key>
		<dict>
			<key>frame</key>
			<string>{{350, 1751}, {290, 142}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{5, 4}, {290, 142}}</string>
			<key>sourceSize</key>
			<string>{300, 150}</string>
		</dict>
		<key>DestroyFlappyArtPack/playbutton200x100.png</key>
		<dict>
			<key>frame</key>
			<string>{{724, 1382}, {194, 96}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3, 2}, {194, 96}}</string>
			<key>sourceSize</key>
			<string>{200, 100}</string>
		</dict>
		<key>DestroyFlappyArtPack/sharebutton.png</key>
		<dict>
			<key>frame</key>
			<string>{{494, 1751}, {290, 142}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{5, 4}, {290, 142}}</string>
			<key>sourceSize</key>
			<string>{300, 150}</string>
		</dict>
		<key>DestroyFlappyArtPack/sharebutton200x100.png</key>
		<dict>
			<key>frame</key>
			<string>{{758, 1578}, {194, 96}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3, 2}, {194, 96}}</string>
			<key>sourceSize</key>
			<string>{200, 100}</string>
		</dict>
		<key>DestroyFlappyArtPack/swipe down.png</key>
		<dict>
			<key>frame</key>
			<string>{{638, 1721}, {332, 242}}</string>
			<key>offset</key>
			<string>{2, -45}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11, 99}, {332, 242}}</string>
			<key>sourceSize</key>
			<string>{350, 350}</string>
		</dict>
		<key>DestroyFlappyArtPack/swipe right.png</key>
		<dict>
			<key>frame</key>
			<string>{{881, 469}, {328, 338}}</string>
			<key>offset</key>
			<string>{4, -4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{15, 10}, {328, 338}}</string>
			<key>sourceSize</key>
			<string>{350, 350}</string>
		</dict>
		<key>DestroyFlappyArtPack/swipe up.png</key>
		<dict>
			<key>frame</key>
			<string>{{996, 1}, {336, 328}}</string>
			<key>offset</key>
			<string>{5, 4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{12, 7}, {336, 328}}</string>
			<key>sourceSize</key>
			<string>{350, 350}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{2048, 2048}</string>
		<key>textureFileName</key>
		<string>DestroyFlappyArtPack.png</string>
	</dict>
</dict>
</plist>
