<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>FlappyFlyArtPack/background.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1}, {1280, 1920}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {1280, 1920}}</string>
			<key>sourceSize</key>
			<string>{1280, 1920}</string>
		</dict>
		<key>FlappyFlyArtPack/bush.png</key>
		<dict>
			<key>frame</key>
			<string>{{903, 3770}, {1280, 138}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {1280, 138}}</string>
			<key>sourceSize</key>
			<string>{1280, 138}</string>
		</dict>
		<key>FlappyFlyArtPack/clouds.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1923}, {1496, 264}}</string>
			<key>offset</key>
			<string>{0, -6}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 57}, {1496, 264}}</string>
			<key>sourceSize</key>
			<string>{1496, 366}</string>
		</dict>
		<key>FlappyFlyArtPack/fly1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 3421}, {656, 457}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {656, 457}}</string>
			<key>sourceSize</key>
			<string>{656, 458}</string>
		</dict>
		<key>FlappyFlyArtPack/fly2.png</key>
		<dict>
			<key>frame</key>
			<string>{{460, 3317}, {649, 441}}</string>
			<key>offset</key>
			<string>{3, 8}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{7, 0}, {649, 441}}</string>
			<key>sourceSize</key>
			<string>{656, 458}</string>
		</dict>
		<key>FlappyFlyArtPack/gameover.png</key>
		<dict>
			<key>frame</key>
			<string>{{903, 3264}, {504, 348}}</string>
			<key>offset</key>
			<string>{1, -4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{49, 55}, {504, 348}}</string>
			<key>sourceSize</key>
			<string>{600, 450}</string>
		</dict>
		<key>FlappyFlyArtPack/ground.png</key>
		<dict>
			<key>frame</key>
			<string>{{267, 1923}, {1392, 620}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {1392, 620}}</string>
			<key>sourceSize</key>
			<string>{1392, 620}</string>
		</dict>
		<key>FlappyFlyArtPack/pipe_bottom.png</key>
		<dict>
			<key>frame</key>
			<string>{{889, 1923}, {204, 1339}}</string>
			<key>offset</key>
			<string>{-1, -2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3, 5}, {204, 1339}}</string>
			<key>sourceSize</key>
			<string>{212, 1344}</string>
		</dict>
		<key>FlappyFlyArtPack/pipe_top.png</key>
		<dict>
			<key>frame</key>
			<string>{{1095, 1923}, {204, 1339}}</string>
			<key>offset</key>
			<string>{1, 2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5, 0}, {204, 1339}}</string>
			<key>sourceSize</key>
			<string>{212, 1344}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{4096, 4096}</string>
		<key>textureFileName</key>
		<string>FlappyFlyArtPack.png</string>
	</dict>
</dict>
</plist>
