<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>filenames</key>
	<dict>
		<key>deploying-whizz-whoosh.wav</key>
		<string>deploying-whizz-whoosh.caf</string>
		<key>explosion.wav</key>
		<string>explosion.caf</string>
		<key>jet-sound-old1.wav</key>
		<string>jet-sound-old1.caf</string>
		<key>jet-sound.wav</key>
		<string>jet-sound.caf</string>
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<integer>1</integer>
	</dict>
</dict>
</plist>
