<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>DestroyFlappyArtPack/Airspeed_indicator.png</key>
		<dict>
			<key>frame</key>
			<string>{{1571, 1357}, {476, 476}}</string>
			<key>offset</key>
			<string>{-1, 2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1, 1}, {476, 476}}</string>
			<key>sourceSize</key>
			<string>{480, 482}</string>
		</dict>
		<key>DestroyFlappyArtPack/Touch Gesture.png</key>
		<dict>
			<key>frame</key>
			<string>{{1886, 2614}, {357, 666}}</string>
			<key>offset</key>
			<string>{-7, -10}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 27}, {357, 666}}</string>
			<key>sourceSize</key>
			<string>{372, 700}</string>
		</dict>
		<key>DestroyFlappyArtPack/airspeed_indicator_needle.png</key>
		<dict>
			<key>frame</key>
			<string>{{1776, 3289}, {208, 172}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {208, 172}}</string>
			<key>sourceSize</key>
			<string>{208, 172}</string>
		</dict>
		<key>DestroyFlappyArtPack/background.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1}, {1280, 2011}}</string>
			<key>offset</key>
			<string>{0, 44}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {1280, 2011}}</string>
			<key>sourceSize</key>
			<string>{1280, 2100}</string>
		</dict>
		<key>DestroyFlappyArtPack/bonus.png</key>
		<dict>
			<key>frame</key>
			<string>{{1997, 2227}, {225, 214}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2, 0}, {225, 214}}</string>
			<key>sourceSize</key>
			<string>{230, 214}</string>
		</dict>
		<key>DestroyFlappyArtPack/bullet.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 4043}, {52, 26}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {52, 26}}</string>
			<key>sourceSize</key>
			<string>{52, 26}</string>
		</dict>
		<key>DestroyFlappyArtPack/bush.png</key>
		<dict>
			<key>frame</key>
			<string>{{679, 2014}, {1280, 138}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {1280, 138}}</string>
			<key>sourceSize</key>
			<string>{1280, 138}</string>
		</dict>
		<key>DestroyFlappyArtPack/clouds.png</key>
		<dict>
			<key>frame</key>
			<string>{{413, 2014}, {1451, 264}}</string>
			<key>offset</key>
			<string>{-22, -6}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 57}, {1451, 264}}</string>
			<key>sourceSize</key>
			<string>{1496, 366}</string>
		</dict>
		<key>DestroyFlappyArtPack/crate.png</key>
		<dict>
			<key>frame</key>
			<string>{{819, 2950}, {256, 258}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {256, 258}}</string>
			<key>sourceSize</key>
			<string>{256, 258}</string>
		</dict>
		<key>DestroyFlappyArtPack/fly1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1097, 2950}, {677, 477}}</string>
			<key>offset</key>
			<string>{-1, 2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {677, 477}}</string>
			<key>sourceSize</key>
			<string>{680, 482}</string>
		</dict>
		<key>DestroyFlappyArtPack/fly2.png</key>
		<dict>
			<key>frame</key>
			<string>{{1525, 1941}, {671, 470}}</string>
			<key>offset</key>
			<string>{0, -1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{4, 7}, {671, 470}}</string>
			<key>sourceSize</key>
			<string>{680, 482}</string>
		</dict>
		<key>DestroyFlappyArtPack/gameover.png</key>
		<dict>
			<key>frame</key>
			<string>{{819, 2014}, {934, 704}}</string>
			<key>offset</key>
			<string>{-3, 3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{25, 15}, {934, 704}}</string>
			<key>sourceSize</key>
			<string>{990, 740}</string>
		</dict>
		<key>DestroyFlappyArtPack/ground.png</key>
		<dict>
			<key>frame</key>
			<string>{{669, 3467}, {1392, 620}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {1392, 620}}</string>
			<key>sourceSize</key>
			<string>{1392, 620}</string>
		</dict>
		<key>DestroyFlappyArtPack/jet.png</key>
		<dict>
			<key>frame</key>
			<string>{{679, 3296}, {416, 108}}</string>
			<key>offset</key>
			<string>{2, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{17, 17}, {416, 108}}</string>
			<key>sourceSize</key>
			<string>{446, 142}</string>
		</dict>
		<key>DestroyFlappyArtPack/jet2.png</key>
		<dict>
			<key>frame</key>
			<string>{{1776, 2874}, {413, 108}}</string>
			<key>offset</key>
			<string>{3, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{20, 17}, {413, 108}}</string>
			<key>sourceSize</key>
			<string>{446, 142}</string>
		</dict>
		<key>DestroyFlappyArtPack/metal_crate.png</key>
		<dict>
			<key>frame</key>
			<string>{{1525, 2614}, {256, 258}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {256, 258}}</string>
			<key>sourceSize</key>
			<string>{256, 258}</string>
		</dict>
		<key>DestroyFlappyArtPack/missile.png</key>
		<dict>
			<key>frame</key>
			<string>{{413, 3467}, {209, 68}}</string>
			<key>offset</key>
			<string>{1, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3, 0}, {209, 68}}</string>
			<key>sourceSize</key>
			<string>{212, 68}</string>
		</dict>
		<key>DestroyFlappyArtPack/pipe_bottom.png</key>
		<dict>
			<key>frame</key>
			<string>{{207, 2014}, {204, 1512}}</string>
			<key>offset</key>
			<string>{-1, 15}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3, 1}, {204, 1512}}</string>
			<key>sourceSize</key>
			<string>{212, 1544}</string>
		</dict>
		<key>DestroyFlappyArtPack/pipe_top.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 2014}, {204, 1539}}</string>
			<key>offset</key>
			<string>{1, 2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5, 0}, {204, 1539}}</string>
			<key>sourceSize</key>
			<string>{212, 1544}</string>
		</dict>
		<key>DestroyFlappyArtPack/playbutton.png</key>
		<dict>
			<key>frame</key>
			<string>{{1283, 1357}, {582, 286}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{9, 7}, {582, 286}}</string>
			<key>sourceSize</key>
			<string>{600, 300}</string>
		</dict>
		<key>DestroyFlappyArtPack/playbutton200x100.png</key>
		<dict>
			<key>frame</key>
			<string>{{1997, 1835}, {390, 194}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{5, 3}, {390, 194}}</string>
			<key>sourceSize</key>
			<string>{400, 200}</string>
		</dict>
		<key>DestroyFlappyArtPack/swipe down.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 3555}, {666, 486}}</string>
			<key>offset</key>
			<string>{4, -90}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{21, 197}, {666, 486}}</string>
			<key>sourceSize</key>
			<string>{700, 700}</string>
		</dict>
		<key>DestroyFlappyArtPack/swipe right.png</key>
		<dict>
			<key>frame</key>
			<string>{{1283, 1}, {658, 678}}</string>
			<key>offset</key>
			<string>{8, -8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{29, 19}, {658, 678}}</string>
			<key>sourceSize</key>
			<string>{700, 700}</string>
		</dict>
		<key>DestroyFlappyArtPack/swipe up.png</key>
		<dict>
			<key>frame</key>
			<string>{{1283, 681}, {674, 658}}</string>
			<key>offset</key>
			<string>{10, 8}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{23, 13}, {674, 658}}</string>
			<key>sourceSize</key>
			<string>{700, 700}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{4096, 4096}</string>
		<key>textureFileName</key>
		<string>DestroyFlappyArtPack.png</string>
	</dict>
</dict>
</plist>
